/* Header - Burger Menu */

@media (min-width: 800px) and (max-width: 1000px) {
  header {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 70px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 800px) {
  header {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .navOne > ul > li {
    display: none;
  }

  .burgerLi,
  .burgerSvg {
    display: block !important;
  }
}

/* Header - Burger Menu End */

/* Content One */

@media only screen and (max-width: 950px) {
  .contentOneImg {
    display: none;
  }
  .contentOneTxt {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .contentOneTxt h1 {
    font-size: 40px;
  }
  .contentOneTxt {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 365px) {
  .contentOneTxt h1 {
    font-size: 30px;
  }
  .contentOneTxt h2 {
    font-size: 11px;
  }
}

/* Content One End */

/* Cursor */

@media only screen and (max-width: 768px) {
  .cursor {
    display: none;
  }
}

/* Cursor End */

/* Sayt Top */

@media only screen and (max-width: 500px) {
  .saytTop {
    width: 40px;
    height: 40px;
  }
  .saytTop svg {
    width: 20px;
    height: 20px;
  }
}

/* Sayt Top End */

/* Content Two  */

@media only screen and (max-width: 1050px) {
  .contentTwoBigBox {
    flex-direction: column;
  }
  .contentTwoBigBox > div {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .contentTwoTitle h1 {
    font-size: 45px;
  }
  .contentTwoTitle {
    padding-left: 30px;
  }
  .contentTwoTitle h2::before {
    left: 35px;
  }
  .contentTwoBigBoxTxtBox h1 {
    font-size: 25px;
  }
  .contentTwoBigBoxTxtBox h2 {
    font-size: 15px;
  }
  .dateParent .data {
    margin-right: 30px;
  }
  .dateParent p,
  .dateParent p a {
    font-size: 14px;
  }
  .contentTwoImg {
    width: 240px;
    height: 310px;
  }
  .contentTwoImg::before {
    width: 240px;
    height: 310px;
  }
}

@media only screen and (max-width: 400px) {
  .contentTwoTitle h1 {
    font-size: 30px;
  }
  .contentTwoTitle h2 {
    font-size: 11px;
  }
  .contentTwoBigBoxTxtBox h1 {
    font-size: 22px;
  }
  .contentTwoBigBoxTxtBox h2 {
    font-size: 12px;
  }
  .dateParent .data {
    margin-right: 5px;
  }
  .dateParent p,
  .dateParent p a {
    font-size: 10px;
  }
  .contentTwoImg {
    width: 200px;
    height: 270px;
  }
  .contentTwoImg::before {
    width: 200px;
    height: 270px;
  }
  .contentTwoBigBoxImgBox {
    padding: 70px 0;
  }
}

/* Content Two End */

/* Content Three End */

@media only screen and (max-width: 1250px) {
  .contentThreeBigBox {
    flex-direction: column;
  }
  .contentThreeBigBoxMini {
    width: 100%;
  }
  .contentThreeBigBoxMiniBox,
  .contentThreeBigBoxMiniBoxTxt {
    width: 95%;
  }
  .contentThreeBigBoxMiniBoxTwo {
    height: 400px;
  }
  .contentThreeBigBoxMini {
    padding-left: 40px;
  }
}

@media only screen and (max-width: 800px) {
  .contentThreeBigBoxMiniBoxTxtTtile {
    font-size: 25px;
  }
  .contentThreeBigBoxMiniBoxTxtTxt {
    font-size: 13px;
  }
}

@media only screen and (max-width: 600px) {
  .contentThreeBigBoxMiniBoxTxtTtile {
    font-size: 20px;
  }
  .contentThreeBigBoxMiniBoxTxtTxt {
    font-size: 12px;
  }
  .contentThreeBigBoxMini {
    flex-direction: column;
  }
  .contentThreeBigBoxMiniBoxTwo {
    width: 100%;
    padding: 10px 20px;
    height: 180px;
  }

  .contentThreeBigBoxMiniBoxTwo:nth-child(2) {
    height: 270px;
    margin-top: 10px;
  }

  .contentThreeBigBoxMini {
    padding-left: 10px;
  }
}

/* Content Three End */

/* Content Four */

@media only screen and (max-width: 1200px) {
  .contentFourBoxMin {
    width: 450px;
  }
}

@media only screen and (max-width: 1000px) {
  .contentFourBox {
    padding: 0 10px;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 950px) {
  .contentFourBoxMin {
    width: 400px;
  }
}

@media only screen and (max-width: 840px) {
  .contentFourBox {
    flex-direction: column;
    align-items: center;
  }
  .contentFourBoxMin {
    width: 500px;
  }
}

@media only screen and (max-width: 550px) {
  .contentFourBoxMin {
    width: 350px;
  }
  .contentFourBoxMinBoxImg {
    height: 220px;
  }
  .contentFourBoxMinBoxTxt h3 {
    font-size: 27px;
  }
  .contentFourBoxMinBoxTxt p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 380px) {
  .contentFourBoxMin {
    width: 270px;
  }
  .contentFourBoxMinBoxImg {
    height: 170px;
  }
  .contentFourBoxMinBoxTxt h3 {
    font-size: 24px;
  }
}

/* Content Four End */

/* Content Five */

@media only screen and (max-width: 600px) {
  .contactBox {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 400px) {
  .contactBox {
    padding: 0 25px;
  }
  .contactBox h3 {
    font-size: 27px;
  }
  .contactBox p {
    font-size: 15px;
  }
  .contactBox svg {
    width: 20px;
    height: 20px;
  }
}

/* Content Five End */

/* Footer */

@media only screen and (max-width: 400px) {
  .footerBox {
    font-size: 17px;
  }
  .footerBox svg {
    width: 18px;
    height: 18px;
  }
}

/* Footer End */
