@media (min-width: 800px) and (max-width: 1000px) {
  header {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 70px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 800px) {
  header {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .navOne > ul > li {
    display: none;
  }

  .burgerLi,
  .burgerSvg {
    display: block !important;
  }
}

@media only screen and (max-width: 950px) {
    .contentOneImg {
        display: none;
    }
    .contentOneTxt {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .contentOneTxt h1 {
        font-size: 45px;
    }
}

@media only screen and (max-width: 600px) {
    .contentOneTxt h1 {
        font-size: 40px;
    }
    .contentOneTxt {
        margin-left: 30px;
    }
    .contentOneTxt h2::before {
        left: 35px;
    }
}
