* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration-line: none;
}

/* Scroll Bar */

::-webkit-scrollbar {
  background-color: white;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(107, 31, 128);
  border-radius: 5px;
}

/* Scroll Bar End */

/* Header */

header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 70px;
  padding-right: 70px;
  transition: 0.3s;
  z-index: 999;
  transform: translateY(-100px);
  opacity: 0;
  animation-name: animHead;
  animation-timing-function: ease-out;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes animHead {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.logoBox {
  width: 55px;
  height: 55px;
  background-color: aqua;
  border-radius: 100%;
  border: 1px solid rgb(107, 31, 128);
  box-shadow: 0 0 10px 2px rgb(107, 31, 128);
  transition: 0.3s;
}

.navOne > ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: rgb(107, 31, 128);
  font-style: italic;
}

.navOne > ul > li {
  display: flex;
  align-items: center;
  font-size: 1.3em;
  margin-left: 40px;
  cursor: pointer;
}

.navOne > ul > li::before {
  content: "";
  position: absolute;
  height: 1px;
  margin-top: 30px;
  width: var(--width, 25px);
  background-color: rgb(107, 31, 128);
  transition: 1s;
}

.navOne > ul > li:nth-child(1)::before {
  width: var(--width, 87px);
}

.navOne > ul > li:nth-child(1):hover::before {
  width: 87px;
}

.navOne > ul > li:nth-child(2):hover::before {
  width: 87px;
}

.navOne > ul > li:nth-child(3):hover::before {
  width: 80px;
}

.navOne > ul > li:nth-child(4):hover::before {
  width: 93px;
}

.navOne > ul > li:nth-child(5):hover::before {
  width: 100px;
}

.burgerLi::before {
  height: 0 !important;
}

.burgerSvg {
  display: none;
}

.burgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 9999;
  display: none;
  flex-direction: column;
  position: fixed;
}

.burgMiniBox {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(107, 31, 128);
  font-size: 2.3em;
  cursor: pointer;
  transition: 0.3s;
  font-style: italic;
}

.burgMiniBox:hover {
  background-color: rgb(107, 31, 128);
  color: white;
}

.burgMiniBox:hover svg {
  fill: white;
  transition: 1s;
}

.burgMiniBox:nth-child(4):hover svg {
  fill: none;
}

.burgMiniBox:nth-child(4):hover svg g path {
  stroke: white;
  transition: 1s;
}

.burgMiniBox {
  border-top: 1px solid rgb(107, 31, 128);
}

.burgMiniBox:nth-child(1) {
  border: none;
}

/* Header End */

/* Menu */

menu {
  width: 100%;
}

/* Content One */

.contentOne {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 120px;
}

.contentOneTxt {
  width: 50%;
  margin-top: 170px;
  margin-left: 80px;
  transform: translateX(-150px);
  opacity: 0;
  animation-name: animTxt;
  animation-timing-function: ease-out;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes animTxt {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.contentOneTxt h2 {
  color: rgb(40, 40, 40);
  padding-left: 35px;
  font-size: 14px;
  font-family: "Cinzel", serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: 0.8;
}

.contentOneTxt h2::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 20px;
  background-color: rgb(40, 40, 40);
  left: 7px;
  margin-top: 7px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.contentOneTxt h1 {
  margin-top: 10px;
  color: rgb(40, 40, 40);
  font-size: 55px;
  font-style: italic;
  font-weight: 400;
}

.contentOneTxt h1 span {
  color: rgb(107, 31, 128);
}

.contentOneTxt h3 {
  margin-top: 10px;
  color: rgb(107, 31, 128);
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  opacity: 0.9;
}

.contentOneTxt p {
  color: rgb(40, 40, 40);
  font-style: italic;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  width: 70%;
  margin-top: 25px;
  line-height: 25px;
  opacity: 0.7;
}

.contentOneImg {
  width: 270px;
  height: 340px;
  margin-top: 160px;
  border-radius: 10px;
  margin-right: 70px;
  animation-name: animImg;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transform: scale(0);
  background-color: rgb(107, 31, 128);
}

@keyframes animImg {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.contentOneImg::before {
  content: "";
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url("../Front/HtmlCss/3D Anim/img3.jpg"); */
  height: 340px;
  width: 270px;
  transform: rotate(0deg);
  border-radius: 10px;
  animation-name: animBef;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  background-color: aqua;
}

@keyframes animBef {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

/* Content One End */

/* Cursor */

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  border: 1px solid rgb(107, 31, 128);
  width: 40px;
  height: 40px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  transition: 0.1s;
  z-index: 15000;
}

/* Cursor End */

/* Content Two End */

.contentTwo {
  padding-bottom: 70px;
  width: 100%;
  background-color: rgb(245, 245, 245);
}

.contentTwoTitle {
  width: 100%;
  padding-left: 60px;
  padding-top: 70px;
  opacity: 0.9;
}

.contentTwoTitle h2 {
  color: rgb(40, 40, 40);
  padding-left: 35px;
  font-size: 14px;
  font-family: "Cinzel", serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: 0.8;
}

.contentTwoTitle h2::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 20px;
  background-color: rgb(40, 40, 40);
  left: 65px;
  margin-top: 7px;
  transform: translateY(-50%);
}

.contentTwoTitle h1 {
  margin-top: 10px;
  color: rgb(40, 40, 40);
  font-size: 50px;
  font-style: italic;
  font-weight: 100;
}

.contentTwoTitle h1 span {
  color: rgb(107, 31, 128);
}

.contentTwoBigBox {
  width: 100%;
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.contentTwoBigBoxImgBox {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
}

.contentTwoImg {
  width: 270px;
  height: 340px;
  border-radius: 10px;
  animation-name: animImg;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transform: scale(0);
  background-color: rgb(107, 31, 128);
}

.contentTwoImg::before {
  content: "";
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url("../Front/HtmlCss/3D Anim/img3.jpg"); */
  height: 340px;
  width: 270px;
  transform: rotate(0deg);
  border-radius: 10px;
  animation-name: animBef;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  background-color: aqua;
}

.contentTwoBigBoxTxtBox {
  width: 50%;
  padding: 0 20px;
  opacity: 0.8;
}

.contentTwoBigBoxTxtBox h1 {
  font-size: 30px;
  text-transform: capitalize;
  color: rgb(40, 40, 40);
  font-weight: 100;
}

.contentTwoBigBoxTxtBox h1 span {
  color: rgb(107, 31, 128);
}

.contentTwoBigBoxTxtBox h2 {
  text-transform: capitalize;
  color: rgb(40, 40, 40);
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 2px;
  margin-top: 20px;
  font-style: italic;
}

.dateParent {
  margin-top: 30px;
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: flex-start;
}

.dateParent .data {
  margin-right: 50px;
}

.dateParent .data p {
  letter-spacing: 2px;
  color: rgb(107, 31, 128);
}

.dateParent p {
  color: rgb(40, 40, 40);
  letter-spacing: 2px;
  font-size: 19px;
  font-weight: 100;
  margin-top: 10px;
}

.dateParent p a {
  color: rgb(40, 40, 40);
  letter-spacing: 2px;
  font-size: 19px;
  font-weight: 100;
  margin-top: 10px;
  text-decoration-line: none;
}

.contentTwoBigBoxTxtBox button {
  margin-top: 45px;
  border-radius: 5px;
  padding: 9px 23px;
  font-size: 17px;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 1px;
  color: rgb(107, 31, 128);
  border: 1px solid rgb(107, 31, 128);
  transition: 0.3s;
}

.contentTwoBigBoxTxtBox button:hover {
  color: white;
  background-color: rgb(107, 31, 128);
}

/* Content Two End */

/* Content Three End */

.contentThree {
  width: 100%;
  padding-bottom: 20px;
}

.contentThreeBigBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contentThreeBigBoxMini {
  width: 50%;
  padding-left: 70px;
}

.contentThreeBigBoxMiniBox {
  width: 90%;
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 5px;
}

.contentThreeBigBoxMiniBoxTxt {
  width: 80%;
  margin-left: 40px;
}

.contentThreeBigBoxMiniBoxTxtTtile {
  color: rgb(107, 31, 128);
  letter-spacing: 1px;
  font-size: 35px;
  font-weight: 100;
  font-style: italic;
}

.contentThreeBigBoxMiniBoxTxtTxt {
  margin-top: 10px;
  color: rgb(40, 40, 40);
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.8;
  font-style: italic;
  text-transform: capitalize;
}

.contentThreeBigBoxMiniBoxSvg {
  padding-left: 20px;
}

.contentThreeBigBoxMini:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

.contentThreeBigBoxMiniBoxTwo {
  width: 40%;
  height: 100%;
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 40px;
}

.progressPer {
  width: 100%;
  height: 3px;
  margin-top: 10px;
  background-color: rgb(107, 31, 128);
  border-radius: 100px;
  display: flex;
  align-items: center;
}

.progressPer > div {
  border-radius: 100px;
  height: 8px;
  background-color: rgb(107, 31, 128);
}

.html {
  width: 94%;
}

.css {
  width: 90%;
}

.js {
  width: 80%;
}

.jquery {
  width: 70%;
}

.sass {
  width: 50%;
}

.git {
  width: 90%;
}

.node {
  width: 25%;
}

.progress h2 {
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 17px;
  text-transform: uppercase;
  color: rgb(40, 40, 40);
  font-style: italic;
  opacity: 0.8s;
}

/* Content Three End */

/* Content Four */

.contentFour {
  width: 100%;
  margin-top: 70px;
  padding-bottom: 50px;
  background-color: rgb(245, 245, 245);
}

.contentFourBox {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 30px;
}

.contentFourBoxMin {
  width: 550px;
}

.contentFourBoxMinBox {
  margin-top: 55px;
  cursor: pointer;
}

.contentFourBoxMinBoxImg {
  width: 100%;
  height: 270px;
  border-radius: 15px;
  overflow: hidden;
}

.contentFourBoxMinBoxImg img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
  transition: 0.7s;
  transition-timing-function: ease-out;
}

.contentFourBoxMinBox:hover img {
  transform: scale(1.2);
  transform-origin: 100px 50px;
}

.contentFourBoxMinBoxTxt {
  width: 100%;
  padding: 5px;
}

.contentFourBoxMinBoxTxt h3 {
  margin-top: 15px;
  margin-left: 10px;
  color: rgb(107, 31, 128);
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-style: italic;
  opacity: 0.8;
}

.contentFourBoxMinBoxTxt p {
  text-transform: capitalize;
  margin-left: 10px;
  margin-top: 5px;
  color: rgb(40, 40, 40);
  letter-spacing: 1px;
  font-size: 18px;
  font-style: italic;
  opacity: 0.8;
}

/* Content Four End */

/* Content Five */

.contentFive {
  width: 100%;
  padding-bottom: 80px;
}

.contactBox {
  width: 100%;
  margin-top: 50px;
  padding: 0 60px;
}

.contactBox svg {
  opacity: 0.9;
}

.contactBox h3 {
  opacity: 0.78;
  font-size: 31px;
  color: rgb(107, 31, 128);
  font-style: italic;
  font-weight: 100;
}

.contactBox a {
  text-decoration-line: none;
  margin-left: 20px;
  position: relative;
  top: 20px;
  opacity: 0.9;
  cursor: pointer;
}

.phone {
  display: inline-block;
  letter-spacing: 1px;
  font-size: 17px;
  color: rgb(40, 40, 40);
  opacity: 0.78;
  position: relative;
  top: -5px;
  left: 7px;
}

.contactBox a svg {
  animation-name: animSvg;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: paused;
}

@keyframes animSvg {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-7px);
  }
}

.contactBox a:hover {
  border-bottom: 2px solid rgb(107, 31, 128);
}

.contactBox a:hover svg {
  animation-play-state: running;
}

/* Content Five End */

/* Footer */

footer {
  width: 100%;
  background-color: rgb(245, 245, 245);
  padding: 45px 0;
}

.footerBox {
  font-size: 19px;
  color: rgb(40, 40, 40);
  font-weight: 100;
  text-transform: capitalize;
  opacity: 0.7;
  font-style: italic;
  text-align: center;
}

.footerBox:nth-child(2) {
  opacity: 0.9;
  margin-top: 12px;
}

.footerBox:nth-child(2) svg {
  margin-left: 7px;
  cursor: pointer;
}

.top {
  cursor: pointer;
}

/* Footer End */

/* Animation Scroll */

.contentFive,
.contentFour,
.contentThree,
.contentTwo,
footer {
  transform: translateX(-150px);
  opacity: 0;
  animation-name: animTxt;
  animation-timing-function: ease-out;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

@keyframes animTxt {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animImg {
  display: none;
  animation-delay: 0.6s;
}

/* Animation Scroll End */

/* Sayt Top */

.saytTop {
  width: 50px;
  height: 50px;
  background-color: rgba(220, 220, 220);
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
  opacity: 0;
  transition: 1s;
  transition-timing-function: ease-out;
  transform: translateY(-700px);
}

/* Sayt Top End */
